.projects {
  color: rgb(13, 13, 26);
  /* color: var(--light-gold); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../../assets/yellow-rocket-ship-2000.jpg");

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;

  height: 100vh;
}

.heading {
  font-size: 5rem;
  letter-spacing: -0.03em;
  margin: 0px;
}

@media only screen and (max-width: 56.25em) {
  .heading {
    font-size: 4.25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading {
    font-size: 3.5rem;
  }
}

.string-text {
  /* font-size: 3.8rem; */
  font-size: 1.8rem;
  line-height: 130.4%;
}

@media (max-width: 768px) {
  .string-text {
    /* font-size: 1.8rem; */
    font-size: 1.2rem;
  }
}

.projects > div {
}

.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* height: 55%; */
}

.projects-container {
  padding: 10px;
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  /* height: 80%; */
  height: 100%;
}

.project-card {
  background-color: var(--dark-blue);
  margin: 10px auto;
  padding: 10px;
  /* cursor: pointer; */

  /* max-width: 350px; */
  /* max-width: 20%; */
  /* max-width: 40%;
  max-height: 40%; */
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

.project-card img {
  width: 100%;
  /* max-width: 300px; */
}

/* .selected-project-container {
}

.selected-project-card {

}

.selected-project-card img {
} */

/* @media (max-width: 1500px) {
  .project-card {
    width: 270px;
  }
} */

@media (max-width: 768px) {
  .project-card {
    width: 125px;
    font-size: small;
  }

  .project-card > img {
  }

  /* .selected-project-card {
  }

  .selected-project-card img {
    width: 100%;
  } */
}

/* -------- -------- -------- */
/* ---- SECOND ITERATION ---- */
/* -------- -------- --------*/

:root {
  --size: 180px;
  --gap: 5px;
  --tdeg: 90deg;
  --dr: 200ms;
  --tf: ease-out;
  --pr: 300px;
  --fr: #000;
  --bg: #fff;
  --mn: #00bcd4;
  --sc: #673ab7;
}

#list {
  margin: var(--gap);
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  vertical-align: top;
  perspective: var(--pr);
  transform-origin: 50% 50% calc(var(--size) / 2);
}

.w {
  font-size: initial;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  transform-origin: 50% 50% calc(var(--size) / 2 * -1);
  will-change: transform;
  animation: var(--dr) var(--tf) 0ms 1 normal forwards paused;
}

.f,
.b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  transition: none;
}

.f {
  background-color: var(--mn);
  background: linear-gradient(var(--mn), var(--sc));
  transform: translate3d(0, 0, 0);

  & > svg {
    mix-blend-mode: luminosity;
  }
}

.b {
  padding: 1rem;
  background-image: radial-gradient(circle, #333, #000 160%);
  transform: translate3d(0, 0, -1px);

  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 20px 20px black;
  text-align: center;
}

.in-top .b,
.out-top .b {
  transform-origin: 0% 100%;
  transform: translate3d(0, -100%, 0) rotate3d(1, 0, 0, 90deg);
}

.in-right .b,
.out-right .b {
  transform-origin: 0% 0%;
  transform: translate3d(100%, 0, 0) rotate3d(0, 1, 0, 90deg);
}

.in-bottom .b,
.out-bottom .b {
  transform-origin: 0% 0%;
  transform: translate3d(0, 100%, 0) rotate3d(-1, 0, 0, 90deg);
}

.in-left .b,
.out-left .b {
  transform-origin: 100% 0;
  transform: translate3d(-100%, 0, 0) rotate3d(0, -1, 0, 90deg);
}

.in-top .w {
  animation-name: in-top;
  animation-play-state: running;
}
.in-right .w {
  animation-name: in-right;
  animation-play-state: running;
}
.in-bottom .w {
  animation-name: in-bottom;
  animation-play-state: running;
}
.in-left .w {
  animation-name: in-left;
  animation-play-state: running;
}

.out-top .w {
  animation-name: out-top;
  animation-play-state: running;
}
.out-right .w {
  animation-name: out-right;
  animation-play-state: running;
}
.out-bottom .w {
  animation-name: out-bottom;
  animation-play-state: running;
}
.out-left .w {
  animation-name: out-left;
  animation-play-state: running;
}

@keyframes in-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, var(--tdeg));
  }
}
@keyframes out-top {
  from {
    transform: rotate3d(-1, 0, 0, var(--tdeg));
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, var(--tdeg));
  }
}
@keyframes out-right {
  from {
    transform: rotate3d(0, -1, 0, var(--tdeg));
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, var(--tdeg));
  }
}
@keyframes out-bottom {
  from {
    transform: rotate3d(1, 0, 0, var(--tdeg));
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, var(--tdeg));
  }
}
@keyframes out-left {
  from {
    transform: rotate3d(0, 1, 0, var(--tdeg));
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

/* ======= aesthetics ======= */

/* * {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem 1.5rem;
  font-size: 16px;
  font-family: "Sahitya", serif;
  color: var(--fr);
  background-color: var(--bg);
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  font-size: 0;
  padding: 0;
  max-width: calc((var(--size) + (var(--gap) * 2)) * 4);
  margin: 0 auto;
  list-style: none;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
} 

:any-link {
  color: var(--mn);
}*/

.-center {
  text-align: center;

  font-size: 0;
  padding: 0;
  max-width: calc((var(--size) + (var(--gap) * 2)) * 4);
  margin: 0 auto;
  list-style: none;
}

.-center::after {
  content: "";
  display: table;
  clear: both;
}

/* -------- -------- -------- */
/* ---- THIRD ITERATION ---- */
/* -------- -------- --------*/

.secondary-card {
  min-width: 280px;
  width: 50vw;
  height: 50vh;
  background-color: var(--light-purple);
  background-color: rgba(13, 13, 26, 0.3);
  border-radius: 1.2rem;
  padding: 10px;
}

.img-div {
  height: 50%;

  & > img {
    height: 100%;
    width: 100%;
    /* max-width: 300px; */
    border-radius: 1rem;
  }
}

.title-div h2 {
  margin: 10px;
}

.languages-div {
  display: flex;
  flex-wrap: wrap;

  & p {
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
  }
}
