.projects {
  color: rgb(13, 13, 26);
  /* color: var(--light-gold); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../../assets/yellow-rocket-ship-2000.jpg");

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;

  /* height: 100vh; */
}

/* @media (min-width: 768px) {
  .projects {
    min-height: 1200px;
  }
} */

.heading {
  font-size: 5rem;
  letter-spacing: -0.03em;
  margin: 0px;
}

@media only screen and (max-width: 56.25em) {
  .heading {
    font-size: 4.25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading {
    font-size: 3.5rem;
  }
}

.string-text {
  /* font-size: 3.8rem; */
  font-size: 1.8rem;
  line-height: 130.4%;
}

@media (max-width: 768px) {
  .string-text {
    /* font-size: 1.8rem; */
    font-size: 1.2rem;
  }
}

.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* height: 55%; */
  flex: 1;
  position: relative;

  & button {
    background-color: rgb(127, 255, 212);
    border-radius: 50%;
    border: 0px;
    /* padding: 15px; */
    padding: 2.5%;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.selected-project-card {
  position: absolute;
  /* background-color: var(--light-purple); */
  /* padding: 10px; */
  border-radius: 1rem;
}

.spc_img-div {
  position: relative;
  display: flex;
  justify-content: center;
  & img {
    width: 100%;
    width: 90%;
    border-radius: 1rem;
  }

  & button {
    position: absolute;
    /* top: 10px;
    right: 55px; */
    top: 1%;
    right: 5.5%;
    /* background: none; */
  }
}

.spc_options-div {
  position: absolute;
  bottom: 0;
  left: 5%;

  & a {
    /* display: flex; */

    /* position: relative; */
    display: block;
    border-radius: 50%;
    transition: 0.5s;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    padding: 5px;
  }

  & a:hover {
    /* box-shadow: inset 0 0 5px #ffee10; */
    box-shadow: inset 0 0 5px #ffee10, 0 0 0 2px #ffee10,
      0.1em 0.1em 1em #ffee10;
  }

  & a img {
    /* padding: 10px; */
    width: 30px;
    margin: auto 5px;
  }
}
