html {
  /* scroll-snap-type: y mandatory; */
}

.text-main-wrapper {
  /* margin: 0 50px; */
  /* perspective: 500px; */
}

.text-main-wrapper > div {
  height: 100vh;
  /* scroll-snap-align: center; */
}

.margin-wrapper {
  margin: 0 50px;
}

@media (min-width: 768px) {
  .text-main-wrapper > div {
    min-height: 1000px;
  }
}
