html {
  /* scroll-snap-type: y mandatory; */
}

.text-main-wrapper {
  /* margin: 0 50px; */
  /* perspective: 500px; */
  padding-top: 110px;
}

.text-main-wrapper > div {
  min-height: 100vh;
  padding: 80px 0;
  scroll-margin-top: 110px;
  /* scroll-snap-align: center; */
}

.margin-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px;
}

@media (min-width: 768px) {
  .text-main-wrapper > div {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .margin-wrapper {
    padding: 0 24px;
  }

  .text-main-wrapper > div {
    padding: 60px 0;
  }
}
