.project-card {
  min-width: 280px;
  width: 50vw;
  height: 50vh;
  background-color: var(--light-purple);
  background-color: rgba(13, 13, 26, 0.3);
  border-radius: 1.2rem;
  padding: 10px;

  max-width: 700px;
}

.img-div {
  /* height: 50%; */
  height: 55%;

  & > img {
    height: 100%;
    width: 100%;
    /* max-width: 300px; */
    border-radius: 1rem;
  }
}

.title-div h2 {
  margin: 10px;
}

.languages-div {
  display: flex;
  flex-wrap: wrap;

  & p {
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  /* .project-card {
      height: 50vh;
    } */
}
