@font-face {
  font-family: "SplineSansMono";
  src: url(../src/assets/fonts/SplineSansMono-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Limelight";
  src: url(../src/assets/fonts/Limelight-Regular.ttf) format("truetype");
}

body {
  --light-purple: #cf59e6;
  --light-blue: #6bc5f8;
  --dark-blue: #0e79b2;
  --light-gold: #f39237;
  --dark-gold: #d16b0d;
  --large-header: 80px;
  --medium-header: 64px;
  --small-header: 32px;
  font-family: "SplineSansMono", monospace;
}

h1 {
  font-family: "Limelight", cursive;
}

.app {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
}
